* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: fantasy;
  }

  body{
    background-image: url(/img/fons-seccio-noticies-2.webp);
    background-size: contain;
    background-attachment: fixed;
    
  }

  /*HEADER STYLES*/
  
 
.logo {
  height: 120px;
  width: 120px;
  margin-top: 0.5em;
  cursor: pointer;
  margin-left: 2.5em;
}
.logo:hover
{
  transform: scale(1.1);
  border: 5px solid black;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#apartats{
  margin-top: 30px;
  font-size: 20px;
}
.lista li a{
  font-size: 20px;
}

.lista li {
  list-style-type:none;
}


header {
  display: flex;
  justify-content: space-between;
  height: 140px;
  background-color: #6a1e49;
  
}


.lista{
  margin-top: 45px;
  margin-right: 2em;
}

ul a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color:black
}

.menu {
  list-style: none;
  margin-bottom: 1em;
  padding-top: 5px;
  margin-top: 1.5em;
  margin-left: 2em;
}
.menu li {
  position: relative;
  display: inline-block;
}
.opciones li a{
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.menu li:hover ul {
  display: block;
  z-index: 10;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 20%;
  border: 3px solid white;
}
.menu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  background-color:teal;
}

  /*MAIN STYLES*/

  main{
    height: 1150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  main h1{
    margin-top: 1em;
    padding: 1em;
    background-color: antiquewhite;
    font-family:fantasy;
    border:2px solid black;
    border-radius: 20px;
    color: #686350;
  }

  #videojoc-1,#videojoc-2,#videojoc-3{
    background-color: rgb(130, 158, 185);
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
  }

  #videojoc-1:hover,#videojoc-2:hover,#videojoc-3:hover{
  background-color: rgb(235, 193, 193);
  transform: scale(1.1);
  color: #554f3b;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  }

  #videojoc-1 img,#videojoc-3 img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  #videojoc-2 img{
    width: 290px;
    height: 200px;
    border-radius: 10px;
  } 

  /*FOOTER STYLES*/
footer {
  display: flex;
  flex-direction: column;
  background-color:#6a1e49;
}
.i{
  margin-left: 8px;
}
.t{
  margin-right: 5px;
}
.f{
  margin-left: 5px;
}
.titolXarxa {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
}

#imatges {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 1em;
  margin-right: 1em;
}

.instagram {
  width: 25px;
  margin: 0;
}

.facebook {
  width: 50px;
  margin-left: 2em;
}

.twitter{
  width: 50px;
}

.facebookcont {
  margin-top: 1em;
  cursor: pointer;
}

.instagramcont {
  margin-bottom: 1em;
  margin-left: 1.5em;
  cursor: pointer;
}

.twittercont {
  cursor: pointer;
}

.instagramcont:hover,.twittercont:hover
{
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.facebookcont:hover{
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-right: 9px;
}

#titolxarxes {

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 1em;
  margin-top: 5px;
  margin-left: 1em;
}

.copy {
  margin-top: 1em;
  margin-left: 1em;
}

  .row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 992px) 
{
  #videojoc-1 p,#videojoc-2 p,#videojoc-3 p{

        margin-top: 2em;  
        margin-bottom: 2em;
        }

        main{
          height: 1400px;
        }
}

@media only screen and (min-width: 600px) {

    #videojoc-1,#videojoc-2,#videojoc-3{

        width: 70%;
        height: auto;
        flex-direction: column;
        margin-top: 2em; 
        padding: 10px; 
    
        }

        footer{
          margin-top: 3em;
        }
      }
      


@media only screen and (min-width: 992px) {

  #videojoc-1,#videojoc-2,#videojoc-3
  {flex-direction: row;}

  

}
