* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: fantasy;
}

a {
  text-decoration: none;
}

/*HEADER STYLES*/

.logo {
  height: 120px;
  width: 120px;
  margin-top: 0.5em;
  cursor: pointer;
  margin-left: 2.5em;
}

.logo:hover {
  transform: scale(1.1);
  border: 5px solid black;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#apartats {
  margin-top: 30px;
  font-size: 20px;
}

.lista li a {
  font-size: 20px;
}



header {
  display: flex;
  justify-content: space-between;
  height: 140px;
  background-color: #6a1e49;

}


.lista {
  margin-top: 45px;
  margin-right: 2em;
  list-style-type: none;
}

ul a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: black
}

.menu {
  list-style: none;
  margin-bottom: 1em;
  padding-top: 5px;
  margin-top: 1.5em;
  margin-left: 2em;
}

.menu li {
  position: relative;
  display: inline-block;
}

.opciones li a {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.menu li:hover ul {
  display: block;
  z-index: 10;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 20%;
  border: 3px solid white;
}

.menu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
}

/*Article Styles*/

article {
  min-height: 400px;
  background-image: url(/img/fons-cataleg.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article h2{
  text-align: center;
  color:#6a1e49;
  margin-bottom: 20px;
  background-color: #a49f8f;
  margin:0 auto;
  padding: 25px;
  border-radius: 50%;
  margin-bottom: 20px;
  
}

article p {
  font-size: 30px;
  text-align: center;
  color: #6a1e49;
  margin: 0 auto;
  font-family: fantasy;
  background-color: #a49f8f;
  border-radius: 30px;
  border: 7px solid #6a1e49;
  padding: 25px;

}

/*SECCIO NOTICIES*/

.seccioNoticies {
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(/img/fons-seccio-noticies.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 5px solid #6a1e49;
}

.seccioNoticies h2 {
  font-size: 3em;
  color: #a49f8f;
}

.seccioNoticies p {
  font-size: 20px;
  padding: 2em;
  background-color: #a49f8f;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  border: 4px solid #6a1e49;
  color: #6a1e49;
}

.seccioNoticies button {
  font-size: 20px;
  padding: 1em 3em;
  background-color: rgb(30, 37, 37);
  margin: 0 auto;
  border-radius: 10px;
  color: #6a1e49;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
}

.seccioNoticies button:hover{
  background-color: #6a1e49;
  color:  rgb(30, 37, 37) ;
  transform: scale(1.1);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;  
}

/*Main Styles (NOVETATS)*/

main {
  border-top: 5px solid #6a1e49;
  border-bottom: 5px solid #6a1e49;
  height: 600px;
  background-color: #282f25;
}


main h1 {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 80px;
  color: #a49f8f;
  font-size: 40px;
  font-family: fantasy;
  margin-bottom: 50px;
}

#novetat-1,
#novetat-2,
#novetat-3 {
  height: 28vh;
  width: 300px;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

#novetat-1:hover,
#novetat-2:hover,
#novetat-3:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: 5px solid black;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#novetatsIMG {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

#novetat-1 {
  background-image: url(/img/accesoris/anbernic/ANBERNIC-handle-silicone-sleeve-for-RG405M.PNG);
}

#novetat-2 {
  background-image: url(/img/accesoris/ayntec/Odin-2-Super-Dock.PNG);
}

#novetat-3 {
  background-image: url(/img/accesoris/goretroid/Retroid-Pocket-Bluetooth-Earbuds.PNG);
}



#novetatsParrafo {
  display: flex;
  justify-content: space-around;
  color: black;
  margin-top: 30px;

}

#novetatsParrafo h1 {
  width: 300px;
  height: 100px;
  text-align: center;
  background-color: rgb(43, 41, 41);
  border: 1px solid #a49f8f;
  color: #a49f8f;
  padding: 5px;
  font-size: 20px;
  font-family:sans-serif;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
}


#novetatsParrafo h1:hover {
  transform: scale(1.1);
  color: rgb(12, 12, 12);
  border: 2px solid #b5b5b5 ;
  background-color: #6a1e49 ;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/*SECTION STYLES*/

.seccion {
  height: 2200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #3f3c32;
  border-bottom: 5px solid #6a1e49;
}


#productes-destacats {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: serif;
  color: #a49f8f;

}

.producte {
  margin-bottom: 120px;
  background-color: antiquewhite;
  padding: 3em;
  border-radius: 10px;
}

#widgets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#widget-1,
#widget-2,
#widget-3 {
  height: 300px;
  width: 300px;
  cursor: pointer;
  border-radius: 20px;
  border: 3px solid rgb(155, 110, 110);
}


#widget-1 {
  background-image: url(/img/accesoris/anbernic/ANBERNIC-portable-protective-bag-For-RG552.PNG);
  background-size: cover;
  background-position: center;
}

#widget-2 {
  background-image: url(/img/consoles/ayntec/ayntec.PNG);
  background-size: 95%;
  background-position: center;
}

#widget-3 {
  background-image: url(/img/consoles/goretroid/Retroid-Pocket-Flip-2-Handheld.PNG);
  background-size: 130%;
  background-position: center;
}

#widgets h2 {
  margin-top: 30px;
  background-color: rgb(38, 28, 28);
  border-radius: 5px;
  padding: 20px;
  font-family: serif;
  font-size: 15px;
  text-align: center;
  color: white;
  cursor: pointer;
}

#widgets h2:hover {
  background-color: white;
  transform: scale(1.1);
  color: #686350;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/*FOOTER STYLES*/

footer {
  display: flex;
  flex-direction: column;
  background-color: #6a1e49;
}

.i {
  margin-left: 8px;
}

.t {
  margin-right: 5px;
}

.f {
  margin-left: 5px;
}

.titolXarxa {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
}

#imatges {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 1em;
  margin-right: 1em;
}

.instagram {
  width: 25px;
  margin: 0;
}

.facebook {
  width: 50px;
  margin-left: 2em;
}

.twitter {
  width: 50px;
}

.facebookcont {
  margin-top: 1em;
  cursor: pointer;
}

.instagramcont {
  margin-bottom: 1em;
  margin-left: 1.5em;
  cursor: pointer;
}

.twittercont {
  cursor: pointer;
}

.instagramcont:hover,
.twittercont:hover,
.facebookcont:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#titolxarxes {

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 1em;
  margin-top: 5px;
  margin-left: 1em;
}

.copy {
  margin-top: 1em;
  margin-left: 1em;
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 1300px) {
  #widgets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .seccion {
    height: 800px;
  }


}

@media only screen and (max-width: 1100px) {
  #novetatsIMG div {
    width: 12em;
    height: 12em;
  }

  #novetatsParrafo h1 {
    width: 200px;
    height: 100px;
    font-size: 15px;
   

  }

}